---
import PageLayout from '../../layouts/PageLayout.astro';
import DownloadPage from '../../components/DownloadPage.svelte';
import { downloadLocation } from '../../lib/locations.ts';
---

<PageLayout title={downloadLocation.label}>
	<div class="flex grow flex-col items-center p-4">
		<noscript>Please enable JavaScript to download covers</noscript>

		<DownloadPage client:load />
	</div>
</PageLayout>
