---
import PageLayout from '../../layouts/PageLayout.astro';
import SettingsPage from '../../components/SettingsPage.svelte';
import { settingsLocation } from '../../lib/dock.ts';
---

<PageLayout title={settingsLocation.label}>
	<div class="flex grow flex-col items-center p-4">
		<noscript>Please enable JavaScript to change settings</noscript>

		<SettingsPage client:load />
	</div>
</PageLayout>
