---
import PageLayout from '../layouts/PageLayout.astro';
import GlobalSearchBox from '../components/GlobalSearchBox.svelte';
---

<PageLayout fixedNav={true} disableSearch={true}>
	<div
		class="from-base-100 via-base-200 to-base-300 flex size-full flex-col items-center justify-baseline bg-linear-to-br p-4"
	>
		<div class="h-0 bg-transparent sm:h-8"></div>

		<div class="hover-3d max-w-full p-8">
			<!-- content -->
			<figure class="max-h-98 max-w-98 rounded-full p-2">
				<img class="size-52 sm:size-96" src="/favicon.svg" alt="Big Book Covers Logo" />
			</figure>
			<!-- 8 empty divs needed for the 3D effect -->
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

		<GlobalSearchBox client:load class="w-xl" size="xl" />
	</div>
</PageLayout>
