---
import PageLayout from '../../layouts/PageLayout.astro';
import Search from '../../components/SearchPage.svelte';
import { searchLocation } from '../../lib/locations.ts';
---

<PageLayout title={searchLocation.label}>
	<div class="flex grow flex-col items-center p-4">
		<noscript>Please enable JavaScript to search series</noscript>

		<Search client:load />
	</div>
</PageLayout>
